.measures {
  display: flex;
}

.measure {
  margin: 5px;
}

.measure label {
  font-weight: bold;
}

.number {
  max-width: 60px;
  font-weight: bold;
}

.buttons {
  display: flex;
}

.button {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid lightgray;
  background-color: transparent;
}

.button:hover {
  background-color: lightgray;
}

.results {
  margin-top: 20px;
}

.row-head {
  background-color: #dddddd;
  border: 1px solid black;
}

.col-actions {
  max-width: 10px;
}

.delete-button {
  width: 100%;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.icon {
  height: 15px;
  padding: 0px;
  margin: 0px;
}

.icon-big {
  height: 22px;
  padding: 0px;
  margin: 0px;
}

.d-flex {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  align-items: center;
}

.pt-5 {
  padding-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.show-md {
  display: none;
}

#option {
  padding: 5px;
  margin-right: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: small;
}

tr:nth-child(even) {
  background-color: #eceaea;
}

thead tr {
  background-color: #dddddd;
  border: 1px solid black;
}

thead th {
  border: 1px;
  border-color: black;
  border-style: solid;
}

@media screen and (max-width: 600px) {
  label {
    font-size: small;
  }
  td,
  th {
    font-size: x-small;
  }

  .icon-big {
    height: 15px;
  }

  .button {
    padding-left: 10px;
    padding-right: 10px;
  }

  .hide-md {
    display: none;
  }

  .show-md {
    display: flex;
  }
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  @page {
    size: landscape;
    margin-top: 0;
    margin-bottom: 0;
  }
  body {
    margin-top: 0;
    margin-bottom: 0;
  }
}
